@charset "UTF-8";

*{
   font-family: Arial, Helvetica, sans-serif;
   /*height: 100%;*/

}

body {
      background-image: linear-gradient(to right,#F20505,#F2B705);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px#8b030396;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
   color:#05F2F2;
   text-align: center;
  text-shadow: 1px 1px 2px #05c1c1cc ;
}


h2 {
   color:#024959 ;
}
p {
    text-align: justify;
}